.section-main {
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.left-section {
  width: 50%;
  padding: 30px 120px;
}

.contact-us-title {
  font-size: 4em;
  font-weight: bolder;
  margin-top: 200px;
}

.contact-us-desc {
  font-size: 1em;
  font-weight: normal;
  margin-top: 10px;
}

.right-section {
  width: 50%;
  padding: 30px;
}

.form {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-top: 25%;
  padding: 20px;
}

.form > * {
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 4px;
  color: white;
  padding: 10px;
}

textarea {
  height: 100px;
}

.btn-submit {
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgb(40, 133, 128);
  border: none;
  border-radius: 4px;
}

.btn-submit:hover {
  background-color: rgb(34, 113, 109);
  cursor: pointer;
}
